/*.button_colored {
	border: transparent solid 2px;
	color: white;
	background-color: #F7941D;
	height: 40px;
	border-radius: 6px;
	width: 160px;
	font-family: 'Montserrat-Bold';
	margin: 10px 5px;
}
*/

/* Shutter In Vertical */
.button_colored {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

	border: #F7941D solid 2px !important;
	color: white;
	background-color: white;
	height: 40px;
	border-radius: 8px;
	width: 160px;
	font-family: 'Montserrat-Bold';
	margin: 10px 5px;
}
.button_colored:before {
  content: "";
  position: absolute;
	border-radius: 6px;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F7941D;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border: transparent #F7941D 2px;
}
.button_colored:hover, .button_colored:focus, .button_colored:active {
  color: #F7941D;
}
.button_colored:hover:before, .button_colored:focus:before, .button_colored:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}


/*DARK BUTTON*/
/*.button_colored_dark {
	border: transparent solid 2px;
	color: white;
	background-color: #5D6A84;
	height: 40px;
	border-radius: 6px;
	width: 160px;
	font-family: 'Montserrat-Bold';
	margin: 10px 5px;
}*/

/* Shutter In Vertical */
.button_colored_dark {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

	border: #5D6A84 solid 2px !important;
	color: white;
	background-color: white;
	height: 40px;
	border-radius: 8px;
	width: 160px;
	font-family: 'Montserrat-Bold';
	margin: 10px 5px;
}
.button_colored_dark:before {
  content: "";
  position: absolute;
	border-radius: 6px;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #5D6A84;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border: transparent #5D6A84 2px;
}
.button_colored_dark:hover, .button_colored_dark:focus, .button_colored_dark:active {
  color: #5D6A84;
}
.button_colored_dark:hover:before, .button_colored_dark:focus:before, .button_colored_dark:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}


/*Transparent Button*/

.button_transparent {
	border: white solid 2px;
	color: white;
	background-color: transparent;
	height: 40px;
	border-radius: 6px;
	width: 160px;
	font-family: 'Montserrat-Bold';
	margin: 10px 5px;
	transition: ease-in all 0.2s;
}

.button_transparent:hover {
	border: white solid 2px;
	background-color: white;
	color: #F7941D;
	transition: ease-in all 0.2s;
}


.upload_image_sm_btn {
	width: 45%;
	margin-top: 10px;
	background-color: #F1F2F2;
	border: #5D6A84;
	color: #5D6A84;
	border-radius: 6px;
	height: 40px;
	text-align: left;
	padding: 10px 20px;
	font-family: 'Montserrat-Bold';
}
.upload_image_section h1 {
	text-align: left;
}
.upload_image_sm_btn i {
	float: right;
	padding-top: 4px;
}

.submit_all_uploaded_images {
	width: 92%;
	margin-top: 10px;
	background-color: #FFB900;
	color: white;
	font-family: 'Montserrat-Bold';
	border-radius: 6px;
	height: 40px;
	border: none;
}