
/*General Footer Section on all Pages!!!*/

.general_footer {
  background-color: #2A2E3A;
  padding: 30px 0px 10px;
  color: white;
}

.general_footer p {
  padding-top: 10px;
  font-size: 16px;
}

.solial_media_footer {
  text-align: right;
}

.solial_media_footer i {
    color: white;
    font-size: 22px;
    padding-left: 22px;
    padding-top: 7px;
}
